* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
}

.background {
  background: url("/starwars.png") no-repeat center center fixed;
  background-size: cover;
}
